Subida_Bitcoin.json
{
  "name": "Subida_Bitcoin",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=eur&include_24hr_change=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        0
      ],
      "id": "c74c4356-91e7-40cd-a01d-83bbdf064395",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        0
      ],
      "id": "b17c741c-4143-41d2-ae7d-7b465f67f1a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "36a72c13-ee33-4972-b74a-5378e6b0bd42",
              "leftValue": "={{ $json.bitcoin.eur_24h_change }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        0
      ],
      "id": "abe016fa-7916-4eb8-ace2-951ba5a99951",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cde574e9-cdb1-4bbf-b380-5fe40f26e052",
              "name": "Fecha",
              "value": "={{ $('Schedule Trigger').item.json['Readable date'] }}",
              "type": "string"
            },
            {
              "id": "fde386af-86f2-4a99-8d30-2fba63a549d5",
              "name": "Precio",
              "value": "={{ $('HTTP Request').item.json.bitcoin.eur }}",
              "type": "string"
            },
            {
              "id": "ddc95f00-58c3-40af-b7e0-f6271c9f99a5",
              "name": "Cambio",
              "value": "={{ $('HTTP Request').item.json.bitcoin.eur_24h_change }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -112
      ],
      "id": "537e860b-1a37-4b95-9104-93dd0843afe6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚀 Alerta Bitcoin: Se ha detectado una subida del {{ $json.Cambio }}%. Precio actual: {{ $json.Precio }}€.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        464,
        -112
      ],
      "id": "789b150b-1dd9-4341-b5f3-870b0bf21a2d",
      "name": "Discord",
      "webhookId": "95529a9f-641b-4f1c-9d76-6b8d5dbca995",
      "credentials": {
        "discordWebhookApi": {
          "id": "FYvPs7pXWMZKAUuI",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RETO FINAL: MONITOR DE CRIPTOMONEDAS \n\n1. ENTRADA (Ingesta periódica):Nodo: Schedule Trigger + HTTP Request.Lógica: Consulta diaria a las 09:00 AM de la API de CoinGecko para obtener el precio de Bitcoin en EUR y su variación en 24h.\n\n\n2. PROCESADO (Validación y Transformación):Filtro: Nodo If configurado para validar subidas $\\geq$ 5%. Si no se cumple, el flujo se detiene para evitar ruido.Esquema de Datos: El nodo Edit Fields mapea los datos técnicos a variables legibles: Fecha, Precio y Cambio.\n\n\n3. SALIDA (Acción/Respuesta):Nodo: Discord (vía Webhook).Resultado: Envío de una notificación enriquecida con el resumen del mercado solo cuando la condición de subida es exitosa.\n\n\n4. OPERACIÓN (Manejo de errores y Logs):Observabilidad: Flujo conectado al Error Workflow centralizado (Ej.4) para capturar fallos de red o de credenciales.Trazabilidad: Logs de ejecución activados para auditoría y persistencia de datos.",
        "height": 448,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "9f2166e0-2f82-45a1-8819-3db29a9c95f2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "YvG2DfxaFWCFDAnQ"
  },
  "versionId": "0826f9f9-b8c9-4d35-afaa-742f319dfbc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8f78f3986a7ac0b86b3eee64c4baa4e7eaeaa596c5c2e35f0566a1bac5fa8f5"
  },
  "id": "GgIv4mw2nv8n1gTz",
  "tags": []
}